<launch>

  <rosparam command="load" file="$(find simple_robot_gazebo)/config/motors_parameters.yaml" />

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <!--<arg name="world_name" value="$(find simple_robot_gazebo)/worlds/labyrinth.world"/>-->
  </include>

  <include file="$(find simple_robot_description_2wheels)/launch/description.launch">
  </include>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model diff_wheeled_robot -param robot_description"/>

  <!--<include file="$(find simple_robot_control)/launch/mock_velocities.launch">
  </include>-->

  <include file="$(find simple_robot_gazebo)/launch/ground_truth_bridge.launch" />

</launch>
